@font-face {
    font-family: "box";
    src: url(./BoxedMedium.ttf);
}

body {
    box-sizing: border-box;
    transition: all 300ms;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    display: none;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    margin-right: 1.0%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25vh;

    border-radius: 0.4vh;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 0.2vh;
}

.box span {
    font-size: 2.0vh;
    font-family: "box";
    color: white;
    margin: 5.5%;
}

.data-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    border-top: 0.2vh solid white;
    padding: 0.2vh;
}

.data-container span {
    font-size: 1.7vh;
    font-family: "box";
    color: white;
    margin-top: 3.5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 5%;
}